package WWW::Curl::Form;
use strict;
use warnings;
use Carp;

our $VERSION = '4.19_9901';

use WWW::Curl ();
use Exporter  ();

our @ISA = qw(Exporter);
our @EXPORT;

BEGIN {
	@EXPORT = qw(
@CURLOPT_INCLUDE@
	);

	# link exported constants
	no strict 'refs';
	foreach my $name ( @EXPORT ) {
		*$name = \*{"WWW::Curl::" . $name};
	}
}

1;

__END__

